@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Neucha&display=swap);
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

@font-face{font-family:"Mountains of Christmas";font-style:normal;src:local("Mountains of Christmas"),local("MountainsofChristmas-Regular"),url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2")}:root{--bg-red: #de2f32;--col-blue: #a0d5d3;--col-white: #ffffff;--col-milk: #fff4ea;--col-green: #a8ead5}body{background-image:url(../assets/images/bg/bg__main.jpg);background-size:cover;background-attachment:fixed;height:100%;background-color:rgba(160,213,211,.2);background-blend-mode:multiply;background-repeat:no-repeat;transition:background-image 1s ease-in-out;overflow-x:hidden}*{padding:0;margin:0;border:0}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}:focus,:active{outline:none}a:focus,a:active{outline:none}nav,footer,header,aside,section{display:block}html,body{height:100%;min-width:320px}body{line-height:1;font-size:14px;font-family:"Neucha",sans-serif;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}input,button,textarea{font-family:"Neucha",sans-serif}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}a:hover{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}.wrapper{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:0;flex-direction:column;width:100%;max-width:1920px;height:100%;overflow:auto}.container{width:100%;max-width:1440px;width:calc(100% - 40px);margin:0 auto}::selection{background:rgba(255,255,0,.5)}.main__page{min-height:100%;display:flex;flex-direction:column}.main__body{padding-top:25px;position:relative;display:flex;flex-direction:column;justify-content:center;flex:1 0 auto;align-items:center;row-gap:40px}.message__title{text-align:center;font-family:"Neucha"}.christmas__window{position:relative;width:340px;height:340px;background:rgba(0,150,209,.7);backdrop-filter:blur(8px);border-radius:50%;border:10px solid var(--col-white);overflow:hidden;animation:rock;animation-iteration-count:infinite;animation-duration:1s}.christmas__message{display:flex;flex-direction:column;row-gap:40px;align-items:center;color:var(--col-white);font-family:"Mountains of Christmas";font-size:50px;white-space:nowrap}.christmas__link-toys{width:200px;height:60px;display:flex;align-items:center;justify-content:center;color:var(--col-white);border-radius:10px;font-size:26px;transition:ease-in-out .3s;border:3px solid #fff;position:relative;z-index:1}.christmas__link-toys:hover{color:rgba(0,0,255,.8);cursor:pointer}.christmas__link-toys:before{transition:.5s all ease-in-out;position:absolute;top:0;left:50%;right:50%;bottom:0;opacity:0;content:"";border-radius:6px;backdrop-filter:blur(8px);background-color:rgba(0,150,209,.3)}.christmas__link-toys:hover:before{transition:.5s all ease-in-out;left:0;right:0;opacity:1;z-index:-1}.santa{position:absolute;left:50%;bottom:0;transform:translateX(-50%)}.santa .santa__body{width:190px;height:210px;background:#de2f32;position:relative;border-radius:50%;top:0;animation:bodyLaugh 4s linear infinite;transform:translateY(50%)}.santa .santa__body:before{content:" ";width:7px;height:7px;background:#f7be10;border-radius:50%;position:absolute;top:35%;left:50%;transform:translate(-50%, -50%);box-shadow:0px -18px 0px #f7be10,0px 18px 0px #f7be10}.santa .santa__head{z-index:2;position:absolute;bottom:90px;left:50%;animation:santa__headLaugh 4s linear infinite;transform:translateX(-50%)}.santa .santa__head .santa__face{width:120px;height:130px;background:#edcab0;background:radial-gradient(#edcab0, #e9a982);border-radius:50%;border:3px solid #f8e7dc}.santa .santa__head .santa__face .santa__redhat .santa__whitepart{position:absolute;left:50%;top:0;transform:translateX(-50%);width:90%;height:32px;background:#f8e7dc;border-radius:50px;z-index:4;box-shadow:0px 6px 0px -4px rgba(0,0,0,.1)}.santa .santa__head .santa__face .santa__redhat .santa__redpart{width:120px;height:120px;background:#de2f32;position:absolute;top:-50px;left:15px;border-radius:50%;z-index:-1}.santa .santa__head .santa__face .santa__redhat .santa__redpart:before{content:" ";width:95px;height:95px;position:absolute;left:0;top:12px;border-radius:50%;box-shadow:inset -8px -1px 0px -5px rgba(0,0,0,.05)}.santa .santa__head .santa__face .santa__redhat .santa__redpart:after{content:" ";position:absolute;right:0;top:60px;background:#de2f32;width:20px;height:50px}.santa .santa__head .santa__face .santa__redhat .santa__hatball{width:38px;height:38px;background:#f8e7dc;border-radius:50%;z-index:5;position:absolute;right:-20px;top:40px;box-shadow:0px 6px 0px -4px rgba(0,0,0,.1)}.santa .santa__head .santa__face .santa__eyes{position:absolute;left:50%;transform:translateX(-50%);top:57px}.santa .santa__head .santa__face .santa__eyes:before,.santa .santa__head .santa__face .santa__eyes:after{content:" ";position:absolute;width:15px;height:9px;top:0;border:5px solid #a8744f;border-width:0;border-top-width:5px;border-radius:50%}.santa .santa__head .santa__face .santa__eyes:before{left:-28px}.santa .santa__head .santa__face .santa__eyes:after{right:-28px}.santa .santa__head .santa__face .santa__beard{width:55px;height:55px;background:#f8e7dc;border-radius:50%;position:absolute;bottom:-30px;left:50%;animation:santa__beardLaugh 4s linear infinite;transform:translateX(-50%)}.santa .santa__head .santa__face .santa__beard:before,.santa .santa__head .santa__face .santa__beard:after{content:" ";width:80px;height:80px;background:#f8e7dc;border-radius:50%;position:absolute;bottom:15px}.santa .santa__head .santa__face .santa__beard:before{left:-40px}.santa .santa__head .santa__face .santa__beard:after{right:-40px}.santa .santa__head .santa__face .santa__beard .santa__nouse{width:25px;height:20px;border-radius:50%;background:#edcab0;position:absolute;z-index:3;box-shadow:inset -3px -3px 0px #e9a982;left:50%;transform:translateX(-50%);top:-42px}.santa .santa__head .santa__face .santa__beard .santa__mouth{background:#a8744f;z-index:3;position:absolute;width:15px;height:5px;border-bottom-right-radius:80px 50px;border-bottom-left-radius:80px 50px;left:50%;top:0;animation:santa__mouthLaugh 4s linear infinite;transform:translateX(-50%)}.santa .santa__head .santa__ears:before,.santa .santa__head .santa__ears:after{content:" ";width:20px;height:30px;border-radius:50%;background:radial-gradient(#e9a982, #edcab0);position:absolute;top:50%;z-index:-1}.santa .santa__head .santa__ears:before{left:-8px;transform:rotate(-10deg)}.santa .santa__head .santa__ears:after{right:-8px;transform:rotate(10deg)}@keyframes rock{0%{transform:rotate(-1deg)}50%{transform:rotate(2deg)}100%{transform:rotate(-1deg)}}@keyframes bodyLaugh{0%{top:0px}2%{top:-3px}4%{top:0px}8%{top:-3px}10%{top:0px}12%{top:-3px}14%{top:0px}18%{top:-3px}20%{top:0px}22%{top:-3px}24%{top:0px}28%{top:-3px}30%{top:0px}100%{top:0px}}@keyframes santa__beardLaugh{0%{bottom:-28px}2%{bottom:-30px}4%{bottom:-28px}8%{bottom:-30px}10%{bottom:-28px}12%{bottom:-30px}14%{bottom:-28px}18%{bottom:-30px}20%{bottom:-28px}22%{bottom:-30px}24%{bottom:-28px}28%{bottom:-30px}30%{bottom:-28px}100%{bottom:-28px}}@keyframes santa__headLaugh{0%{bottom:83px}45%{bottom:83px}50%{bottom:90px}92%{bottom:90px}98%{bottom:83px}100%{bottom:83px}}@keyframes santa__mouthLaugh{0%{width:20px}45%{width:20px}50%{width:15px}92%{width:15px}98%{width:20px}100%{width:20px}}.toys__header{height:70px;background:rgba(0,150,209,.8)}.toys__menu{padding:10px 0 10px 10px}.toys__page{min-height:100%;min-width:calc(100vh - 40px);display:flex;flex-direction:column}.toys__cards{flex:1 0 auto}.menu__row{font-size:28px;line-height:30px;font-weight:700;color:#fff4ea;display:flex;justify-content:space-between}.menu__right{display:flex;align-items:center}.left__buttons{display:flex;align-items:center;column-gap:calc(30px + 45*(100vw - 760px)/1160)}.navigation__btn .navigation__link{color:inherit}.navigation__btn .navigation__home{display:block;cursor:pointer;width:40px;height:50px;background-image:url(../assets/images/svg/tree.svg)}.navigation__btn{color:var(--col-white)}.right__body{display:flex;align-items:center;column-gap:40px}.right__search .search__scope{background:var(--col-milk);border-radius:20px;height:38px;width:270px;font-size:16px;line-height:18px;padding:10px 15px}.right__search{position:relative;cursor:pointer;padding-top:2px;transition:.2s}.right__loup{transition:.2s;position:absolute;z-index:1;top:11px;right:13px;width:18px;height:18px;background-image:url(../assets/images/svg/search.svg);background-size:100%}.right__close{transition:.2s;position:absolute;z-index:10;top:11px;right:13px;width:18px;height:18px;background-image:url(../assets/images/svg/close2.svg);background-size:100%}.right__toys-count{position:relative;width:42px;height:42px;background-image:url(../assets/images/svg/ball.svg)}.right__count{padding-top:8px;display:block;color:#2f7d64;font-size:20px;line-height:20px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}.cards__sort{padding-top:30px;padding-bottom:30px}.cards__message{font-size:26px;font-weight:300;line-height:28px;color:var(--col-white)}.sort__row{display:flex;justify-content:space-between}.sort__column{padding-left:15px;width:445px;height:300px;backdrop-filter:blur(4px);background-color:rgba(57,138,230,.6);border:2px solid #8dbbf0;border-radius:10px}.value__row{color:var(--col-white);padding-top:5px;display:flex;flex-direction:column;row-gap:30px}.value__text{font-size:17px;line-height:19px}.value__form{display:flex;align-items:center;column-gap:20px}.value__form-icons{display:flex;align-items:center;column-gap:12px}.value__form-img{background-color:transparent;width:25px;height:25px;perspective:1000;transition:.2s}.value__form-img:hover{transform:scale(1.1)}.value__form-img:first-child{background-image:url(../assets/images/svg/ball.svg)}.value__form-img:nth-child(2){background-image:url(../assets/images/svg/bell.svg)}.value__form-img:nth-child(3){background-image:url(../assets/images/svg/cone.svg)}.value__form-img:nth-child(4){background-image:url(../assets/images/svg/toy.svg)}.value__form-img:nth-child(5){background-image:url(../assets/images/svg/snowflake.svg)}.value__form-cube{width:24px;height:24px;border-radius:5px;transition:.2s;background-position:center;background-repeat:no-repeat;background-size:0%}.value__form-cube:hover{transform:scale(1.05);border:1px solid #666}.value__form-cube:first-child{background-color:#ff0}.value__form-cube:nth-child(2){background-color:red}.value__form-cube:nth-child(3){background-color:#0aa0f7}.value__form-cube:nth-child(4){background-color:#43d643}.value__form-cube:nth-child(5){background-color:#fff}.value__size-big{cursor:pointer;width:50px;height:45px;background-image:url(../assets/images/svg/ball-2.svg);background-size:50px 45px}.value__size-medium{cursor:pointer;width:40px;height:35px;background-image:url(../assets/images/svg/ball-2.svg);background-size:40px 35px}.value__size-small{cursor:pointer;width:30px;height:25px;background-image:url(../assets/images/svg/ball-2.svg);background-size:30px 25px}.value__size-big:hover,.value__size-medium:hover,.value__size-small:hover{transform:scale(1.3);transition:.2s}.value__checkbox{background-color:#fff;width:24px;height:24px;border-radius:5px;transition:.2s;background-position:center;background-repeat:no-repeat;background-size:0%}.general__title{padding:15px 0;text-transform:uppercase;font-size:18px;line-height:20px;color:var(--col-white);font-family:"Mountains of Christmas",serif;font-weight:500}.range__title{color:var(--col-white);font-size:18px;line-height:20px}.name__sort{padding-top:10px;position:relative;display:inline-block}.name__sort::before{content:"";width:28px;height:28px;background-image:url(../assets/images/svg/arrow-down.svg);background-size:28px;position:absolute;top:60%;transform:translateY(-50%);right:10px;pointer-events:none}.name__setting{display:flex;column-gap:10px}.name__clear{margin-top:137px;display:block;width:200px;height:38px;border-radius:10px;border:2px solid #7ba9df;background-color:rgba(0,150,209,.3);backdrop-filter:blur(6px);color:#fff;font-size:20px;font-weight:400;perspective:1000;transition:.2s}.name__clear:hover{transform:scale(0.95);background-color:rgba(0,103,209,.3)}.name__select{cursor:pointer;appearance:none;border:2px solid #7ba9df;color:var(--col-white);height:38px;width:330px;padding:5px 25px;font-size:18px;line-height:20px;background-color:rgba(0,150,209,.3);border-radius:10px;outline:none}.balls{display:flex;justify-content:center;width:100%;flex-wrap:wrap;font-size:26px;font-weight:300;line-height:28px;color:var(--col-white)}.balls__message{font:size 20px;display:inline-block;color:var(--col-white)}.balls__body{margin-top:100px;opacity:0;position:relative;width:272px;padding:15px 0 10px 10px;height:280px;backdrop-filter:blur(2px);border-radius:10px;cursor:pointer;border:2px solid #8dbbf0;background-color:rgba(57,138,230,.8);transition:.4s ease-out;margin:10px 8px}.balls__body:hover{transition:.2s;transform:scale(0.95)}.balls__title{padding-bottom:20px;font-size:20px;line-height:22px;font-weight:500;color:var(--col-white)}.balls__column{display:flex;column-gap:10px}.balls__text{font-size:16px;line-height:18px;color:var(--col-white)}.balls__toy{padding-top:30px;width:90px;height:112px}.balls__img{display:block;width:100%}.balls__description{display:flex;flex-direction:column;row-gap:18px}.footer{margin-top:40px;background:rgba(0,150,209,.8);color:var(--col-white);font-weight:400;display:flex;flex-direction:column;flex:0 0 auto}.footer__row{display:flex;justify-content:space-between;align-items:center;height:70px;font-size:24px;line-height:26px}.footer__rsschool .logo{width:130px;height:40px}.footer__username .footer__link{color:var(--col-white)}.ribbon{position:absolute;top:210px;width:80px;height:40px;left:-10px;background:#24c5db}.ribbon::before{top:-8px;border-bottom:8px solid #14455b;border-left:8px solid transparent}.ribbon::before,.ribbon::after{content:"";position:absolute;height:0px;width:0px}.ribbon::after{right:-15px;border-top:20px solid transparent;border-bottom:20px solid transparent;border-left:15px solid #24c5db}.count-slider__container,.year-slider__container{display:flex;align-items:center;justify-content:space-between;padding:20px 20px}.slider-output{width:55px;height:30px;border:2px solid #fff;border-radius:8px;text-align:center;background-color:rgba(var(--col-green), 0.7);color:var(--col-milk);font-size:18px;line-height:27px}.year__title{padding-top:40px}.count-slider,.year-slider{position:relative;width:calc(150px + 80*(100vw - 760px)/1160);height:6px;margin-right:11px;margin-bottom:3px;display:inline-block}.count-slider__container .noUi-horizontal .noUi-handle{width:22px;height:22px;border-radius:50%}.count-slider__container .noUi-target{background:#fafafa;border-radius:3px}.count-slider__container .noUi-tooltip{font-size:20px}.count-slider__container .noUi-connect{background-color:var(--col-green)}.count-slider__container .noUi-handle::after,.count-slider__container .noUi-handle::before{display:none}.year-slider__container .noUi-horizontal .noUi-handle{width:22px;height:22px;border-radius:50%}.noUi-horizontal .noUi-handle{top:-8px}.year-slider__container .noUi-target{background:#fafafa;border-radius:3px}.year-slider__container .noUi-tooltip{font-size:20px}.year-slider__container .noUi-connect{background-color:var(--col-green)}.year-slider__container .noUi-handle::after,.year-slider__container .noUi-handle::before{display:none}@media(max-width: 1384px){.sort__row{flex-wrap:wrap;gap:5px}.sort__value{width:49%}.sort__range{width:49%}.sort__name{width:100%}}.msg{position:absolute;border-radius:8px;font-size:15px;line-height:25px;right:0;width:67%;font-weight:400;color:#000;text-align:center;background:#28a0ff;z-index:20;height:50px;bottom:0px;opacity:0;transform:translateY(100%);perspective:1000px;transition:.2s ease}.message{position:absolute;border-radius:8px;font-size:15px;line-height:25px;right:0;width:67%;font-weight:400;color:#000;text-align:center;background:#28a0ff;z-index:20;height:50px;bottom:0px;opacity:1;transform:translateY(0%)}.tree:hover{transform:scale(0.95)}.tree{width:115px;height:115px;border-radius:12px;background-size:auto 100px;background-repeat:no-repeat;backdrop-filter:blur(3px);background-color:rgba(175,244,234,.5);background-position:center;transition:.2s}.tree__page{min-height:100%;overflow:auto;max-height:100%;min-width:calc(100vh - 40px);display:flex;flex-direction:column}.tree__blur{background:rgba(22,41,251,.1);backdrop-filter:blur(3px);height:106%;width:100%}.tree__favorite{flex:1 0 auto}.tree__body{display:flex;flex-wrap:wrap;justify-content:space-between}.tree__title{font-size:18px;line-height:20px;font-weight:400;color:var(--col-white);text-transform:uppercase;padding:8px 10px 8px 0}.tree__container{display:flex;flex-wrap:wrap;padding-bottom:10px;gap:10px}.tree__decorate{width:115px;height:115px;border-radius:12px;background-size:auto 100px;background-repeat:no-repeat;backdrop-filter:blur(3px);background-color:rgba(175,244,234,.5);background-position:center}.favorite__count{align-self:flex-end;width:22px;height:22px;line-height:22px;text-align:center;padding:0;margin:0;margin:0 0 2px 48px;border-radius:10px;background-color:rgba(168,234,213,.5);font-size:14px;font-weight:900}.favorite__img{display:block;position:absolute;height:55px;width:55px;object-fit:contain;cursor:move;transition:all .2s}.favorite__img:hover{transform:scale(0.95)}.toys__ticket:hover{border:1px solid #fff}.toys__title{text-align:center}.toys__container{display:flex;flex-wrap:wrap;gap:5px;justify-content:center;padding-bottom:10px}.toys__ticket{position:relative;display:flex;justify-content:center;align-items:center;width:25%;max-width:74px;min-height:74px;border-radius:10px;background-color:rgba(255,255,255,.5);transition:all .2s}.menu__buttons{padding-top:15px;padding-bottom:10px;display:flex;column-gap:50px}.menu__tree{display:flex;flex-direction:column}.menu__festoon{padding-top:15px}.bcg__container{display:flex;flex-wrap:wrap;gap:5px}.bcg__tree{cursor:pointer;width:65px;height:65px;background-size:cover;background-repeat:no-repeat;background-position:center;border-radius:10px;transition:.2s}.bcg__tree:hover{transform:scale(0.9);border-radius:20px;border:1px solid #fff}.bcg__tree:nth-child(1){background-image:url(../assets/images/bg/1.jpg)}.bcg__tree:nth-child(2){background-image:url(../assets/images/bg/2.jpg)}.bcg__tree:nth-child(3){background-image:url(../assets/images/bg/3.jpg)}.bcg__tree:nth-child(4){background-image:url(../assets/images/bg/4.jpg)}.bcg__tree:nth-child(5){background-image:url(../assets/images/bg/5.jpg)}.bcg__tree:nth-child(6){background-image:url(../assets/images/bg/6.jpg)}.bcg__tree:nth-child(7){background-image:url(../assets/images/bg/7.jpg)}.bcg__tree:nth-child(8){background-image:url(../assets/images/bg/8.jpg)}.bcg__tree:nth-child(9){background-image:url(../assets/images/bg/9.jpg)}.bcg__tree:nth-child(10){background-image:url(../assets/images/bg/10.jpg)}.main__tree{display:block;width:420px;height:85%}.favorite__menu{max-width:400px}.favorite__tree{display:flex;justify-content:center;align-items:flex-end;background-image:url(../assets/images/bg/8.jpg);background-size:cover;height:calc(100vh - 140px);min-height:652px;width:611px;margin-bottom:-40px;overflow:hidden;background-position:center center;transition:background-image .5s ease-in-out}.favorite__interactive{width:400px}.btn__color:hover{transform:scale(1.1)}.sound__btn{width:40px;height:40px;background-image:url(../assets/images/svg/mute.svg);cursor:pointer;transition:.2s}.sound__btn-on{background-image:url(../assets/images/svg/audio.svg)}.snow__btn{cursor:pointer;width:40px;height:40px;background-image:url(../assets/images/svg/snow.svg)}.festoon__btns{display:flex;justify-content:space-between;align-items:center;width:250px;padding:10px}.btn__color{width:24px;height:24px;border-radius:50%}.multicolor__btn{background:linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8)}.red__btn{background-color:red}.blue__btn{background-color:#24e0ff}.yellow__btn{background-color:#ff0}.green__btn{background-color:#abff00}.interactive__toys{padding:15px 0 0 10px;display:flex;flex-direction:column;row-gap:10px}.interactive__clear{display:flex;justify-content:flex-end}.interactive__clean{margin-top:20px;margin-bottom:0}.decorate__container{display:flex;gap:10px;overflow-x:auto}.tree:nth-child(1){background-image:url(../assets/images/tree/1.png)}.tree:nth-child(2){background-image:url(../assets/images/tree/2.png)}.tree:nth-child(3){background-image:url(../assets/images/tree/3.png)}.tree:nth-child(4){background-image:url(../assets/images/tree/4.png)}.tree:nth-child(5){background-image:url(../assets/images/tree/5.png)}.tree:nth-child(6){background-image:url(../assets/images/tree/6.png)}.interactive__timer{margin-top:80px;padding-top:20px;padding-bottom:20px;width:322spx;border-radius:10px;background-color:rgba(255,255,255,.5);color:#fff;border-radius:20px;display:flex;flex-direction:column;row-gap:10px}.timer__title{padding-bottom:10px;text-align:center;font-size:25px}.timer__content{display:flex;justify-content:center;column-gap:10px}.timer__count-item{text-align:center;font-size:20px;line-height:22px;display:flex;flex-direction:column;row-gap:5px}.timer__count__text{min-width:64px}.timer__count__value{min-width:45.75px}.timer__sepatetor{font-size:20px}@media(max-width: 1451px){.tree__body{justify-content:center;column-gap:15px;row-gap:15px}.favorite__menu{order:3}.favorite__tree{order:2}.festoon__wrapper{left:68.2% !important}}@media(max-width: 1066px){.festoon__wrapper{top:650px !important;left:48.2% !important}.tree__body{row-gap:25px}}.snow__active,.snow__active:before,.snow__active:after{content:" ";position:absolute;z-index:10;pointer-events:none;top:-1000px;left:0;bottom:0;right:0;background-size:600px 600px;animation:snow 5s linear infinite;background-image:radial-gradient(3px 3px at 293px 539px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 221px 202px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 135px 158px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 168px 6px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 504px 313px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 84px 354px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),radial-gradient(6px 6px at 537px 201px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 273px 268px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 190px 331px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 402px 511px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 8px 58px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 510px 454px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(6px 6px at 438px 535px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 491px 310px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 105px 52px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(6px 6px at 28px 392px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 351px 427px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 184px 260px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 99px 72px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 180px 416px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(6px 6px at 291px 114px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 9px 270px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 457px 552px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),radial-gradient(6px 6px at 419px 132px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 372px 152px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 443px 575px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 368px 561px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 261px 5px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 413px 340px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 527px 531px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 213px 63px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 23px 524px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 454px 188px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 74px 322px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(6px 6px at 427px 248px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),radial-gradient(6px 6px at 591px 482px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 361px 105px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 238px 556px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 66px 228px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(4px 4px at 173px 515px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 408px 209px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 220px 318px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 534px 577px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 118px 342px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(6px 6px at 253px 341px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 122px 547px, white 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 493px 267px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)),radial-gradient(3px 3px at 86px 101px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)),radial-gradient(5px 5px at 275px 9px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0))}.snow__active:after{margin-left:-200px;opacity:.4;animation-duration:10s;animation-direction:reverse;filter:blur(3px)}.snow__active:before{animation-duration:35s;animation-direction:reverse;margin-left:-300px;opacity:.5;filter:blur(1.5px)}.snow__down{transform:translateY(600px)}@keyframes snow{100%{transform:translateY(1000px)}}.snow{transform:translateY(-100%);transition:3s}.snowflake{width:20px;height:20px;background-image:url(../assets/images/svg/snowflake.svg);border-radius:50%;background-position:center center;background-size:100%;pointer-events:none;z-index:10;color:#fff;position:absolute;top:-62px;animation:fall linear forwards}@keyframes fall{to{transform:translateY(105vh)}}.circle-container{position:absolute;width:200px;height:200px;border-radius:50%;padding:0;list-style:none;margin:20px auto 0}.circle-container .uniq__circle{display:block;position:absolute;top:50%;left:50%;margin:-6px;max-width:100%;border-radius:50%;transition:.15s;animation:lights .1s linear infinite;animation-fill-mode:both}.festoon__wrapper{display:flex;justify-content:center;flex-direction:column;position:absolute;top:0px;left:49.2%;transform:translateX(-50%) rotate(75deg);pointer-events:none}.festoon__container{display:flex;column-gap:30px;align-items:center}.festoon__switch{font-size:17px;color:var(--col-white);display:flex;column-gap:5px;align-items:center}.festoon__checkbox{cursor:pointer;position:relative;width:50px;height:24px;appearance:none;outline:none;background-color:var(--col-milk);border-radius:20px;transition:all .5s;box-shadow:inset 0 0 5px rgba(0,0,0,.2)}.festoon__checkbox:checked{background-color:#fff}.festoon__checkbox:before{content:"";position:absolute;width:24px;height:24px;border-radius:20px;top:0;left:0;background-color:#f08080;transform:scale(1.1);transition:.5s;box-shadow:0 2px 5px rgba(0,0,0,.2)}.festoon__checkbox:checked::before{left:25px}.festoon__red{background-color:#f12}.festoon__blue{background-color:#24e0ff}.festoon__yellow{background-color:#ff0}.festoon__green{background-color:lime}@keyframes lights{0%{opacity:.7;filter:grayscale(0%)}50%{opacity:1;filter:grayscale(70%)}70%{opacity:.5;filter:grayscale(40%)}100%{filter:grayscale(80%);opacity:1}}.bcg__size{background-size:100%;background-repeat:no-repeat;background-position:center}.card__active{background:#e4a736}.card__active.ribbon::after{border-left:15px solid #e4a736}.form__active{filter:invert(10%) sepia(66%) saturate(3362%) hue-rotate(343deg) brightness(92%) contrast(90%)}.color__active{background-image:url(../assets/images/svg/choose.svg);background-size:100%}.balls__visible{margin-top:0;opacity:1}.hide{animation-name:hide;animation-duration:.3s;animation-fill-mode:forwards}.anime{transform:scale(0);opacity:0}@keyframes hide{0%{visibility:hidden;height:280px}100%{visibility:visible;width:0;height:0;font-size:0;margin:0;border:0;padding:0}}.page__hide{display:none}.btn__show{color:#e4a736}
