.category {
   position: relative;
   min-width: 100%;
   min-height: 100vh;

   &__setting {
      position: absolute;
      top: 28px;
      right: 16px;
      width: 35px;
      height: 35px;
      background-image: url("./images/assets/svg/settingLogo.svg");
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(0deg);
      transition: 0.2s;
   }

   &__setting:hover {
      transform: rotate(180deg);
   }

   &__body {
   }

   &__row {
   }

   &__up {
   }

   &__logo {
      padding: 28px 0 28px;
      // background: linear-gradient(to bottom, #00cece, #3aa0e4);
   }

   &__setting {
   }

   &__title {
      text-align: center;
      position: relative;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 28px;

      color: var(--col-grey);
      padding-bottom: 26px;
   }

   &__down {
      padding-bottom: 31px;
      max-height: 435px;
      overflow: auto;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
   }

   &__down::-webkit-scrollbar {
      width: 0;
   }

   &__menu {
      border-radius: 20px 20px 0px 0px;
      border: 1px solid var(--col-grey);
      max-width: 360px;
      height: 65px;
      filter: drop-shadow(0px -10px 50px rgba(0, 0, 0, 0.8));
   }
}

.down {
   &__body {
      color: var(--col-grey);
      display: flex;
      justify-content: center;
      column-gap: 10px;
      flex-wrap: wrap;
      row-gap: 13px;
   }

   &__row,
   &__pictures {
      position: relative;
      z-index: 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
      transition: 0.2s;
   }

   &__row:active,
   &__row:hover,
   &__pictures:active,
   &__pictures:hover {
      transform: scale(0.97);
   }

   &__category {
      color: var(--bg-green);
      font-weight: 600;
      padding: 15px 12px 10px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: linear-gradient(to bottom, #00cece, #3aa0e4);
   }

   &__title {
      position: relative;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 16px;
   }

   &__score,
   &__results {
      font-weight: 600;
      font-size: 15;
   }

   &__test {
      position: relative;
      width: 155px;
      height: 164px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: grayscale(100%);
   }
}

.button__score {
   pointer-events: none;
   position: absolute;
   display: block;
   opacity: 0;
   color: white;
   font-weight: 400;
   bottom: 0;
   left: 0;
   background-color: red;
   width: 100%;
   height: 35px;
}

.category__one .down__row:first-child .down__test {
   background-image: url("./images/assets/img/0.jpg");
}
.category__one .down__row:nth-child(2) .down__test {
   background-image: url("./images/assets/img/10.jpg");
}

.category__one .down__row:nth-child(3) .down__test {
   background-image: url("./images/assets/img/20.jpg");
}

.category__one .down__row:nth-child(4) .down__test {
   background-image: url("./images/assets/img/30.jpg");
}

.category__one .down__row:nth-child(5) .down__test {
   background-image: url("./images/assets/img/40.jpg");
}
.category__one .down__row:nth-child(6) .down__test {
   background-image: url("./images/assets/img/50.jpg");
}
.category__one .down__row:nth-child(7) .down__test {
   background-image: url("./images/assets/img/60.jpg");
}
.category__one .down__row:nth-child(8) .down__test {
   background-image: url("./images/assets/img/70.jpg");
}
.category__one .down__row:nth-child(9) .down__test {
   background-image: url("./images/assets/img/80.jpg");
}
.category__one .down__row:nth-child(10) .down__test {
   background-image: url("./images/assets/img/90.jpg");
}
.category__one .down__row:nth-child(11) .down__test {
   background-image: url("./images/assets/img/100.jpg");
}
.category__one .down__row:nth-child(12) .down__test {
   background-image: url("./images/assets/img/110.jpg");
}

.category__two .down__pictures:first-child .down__test {
   background-image: url("./images/assets/img/120.jpg");
}
.category__two .down__pictures:nth-child(2) .down__test {
   background-image: url("./images/assets/img/130.jpg");
}

.category__two .down__pictures:nth-child(3) .down__test {
   background-image: url("./images/assets/img/140.jpg");
}

.category__two .down__pictures:nth-child(4) .down__test {
   background-image: url("./images/assets/img/150.jpg");
}

.category__two .down__pictures:nth-child(5) .down__test {
   background-image: url("./images/assets/img/160.jpg");
}
.category__two .down__pictures:nth-child(6) .down__test {
   background-image: url("./images/assets/img/170.jpg");
}
.category__two .down__pictures:nth-child(7) .down__test {
   background-image: url("./images/assets/img/180.jpg");
}
.category__two .down__pictures:nth-child(8) .down__test {
   background-image: url("./images/assets/img/190.jpg");
}
.category__two .down__pictures:nth-child(9) .down__test {
   background-image: url("./images/assets/img/200.jpg");
}
.category__two .down__pictures:nth-child(10) .down__test {
   background-image: url("./images/assets/img/210.jpg");
}
.category__two .down__pictures:nth-child(11) .down__test {
   background-image: url("./images/assets/img/220.jpg");
}
.category__two .down__pictures:nth-child(12) .down__test {
   background-image: url("./images/assets/img/230.jpg");
}

.logo__title {
   // color: var(--col-grey);
   padding-left: 4px;
   color: transparent;
   font-size: 30px;
   // text-transform: uppercase;
   font-weight: 700;
   background-size: cover;
   background: linear-gradient(to right, #eea917, #d121e8, #e53875, #53c8df, #ec22ac);

   // background-image: url("./images/gr.jpg");
   -webkit-background-clip: text;
   // animation: background-text-animation 20s linear infinite;
}

// @keyframes background-text-animation {
//    0% {
//       background-position: left 0% top 0%;
//    }
//    50% {
//       background-position: left 0px top 88%;
//    }
//    100% {
//       background-position: left 0px top 0px;
//    }
// }

.menu {
   &__row {
      padding: 10px 45px 10px;
      display: flex;
      justify-content: space-between;
   }

   &__flex {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      row-gap: 5px;
   }

   &__flex:hover {
      -webkit-transition: linear 0.2s;
      transition: linear 0.2s;
      -webkit-filter: invert(54%) sepia(32%) saturate(347%) hue-rotate(356deg) brightness(93%) contrast(92%);
      filter: invert(54%) sepia(32%) saturate(347%) hue-rotate(356deg) brightness(93%) contrast(92%);
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
   }

   &__home-logo {
      width: 21px;
      height: 23px;
      background-image: url("./images/assets/svg/home.svg");
   }

   &__text {
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      color: var(--col-grey);
   }

   &__categories {
   }

   &__categories-logo {
      width: 21px;
      height: 21px;
      background-image: url("./images/assets/svg/categories.svg");
   }

   &__score {
   }

   &__score-logo {
      width: 22px;
      height: 22px;
      background-image: url("./images/assets/svg/score.svg");
   }
}
