// max-width: calc(360px + (768 - 360) * ((100vw - 360px) / (768 - 360)));

@media (max-width: 768px) {
   .cards {
      display: none;
   }
   .settings__text {
      display: none;
   }
   .wrapper {
      min-width: 100%;
      min-height: 100%;
      position: relative;
   }

   .background__size {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
   }

   .start {
      position: relative;
      // padding-top: 20px;
      min-width: 100%;
      min-height: 100vh;
      &__body {
         min-height: 100vh;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
      }
   }
   .header {
      display: flex;
      justify-content: center;
      &__logo {
         padding-top: 15px;
         width: calc(110px + (130 - 110) * ((100vw - 360px) / (768 - 360)));
         height: calc(132px + (152 - 132) * ((100vw - 360px) / (768 - 360)));
         background-image: url("./images/assets/logo/art-quiz.webp");
      }
   }

   .main {
      padding-top: 20px;
      &__body {
      }

      &__row {
         display: flex;
         flex-direction: column;
         row-gap: 15px;
         align-items: center;
         font-size: calc(18px + (25 - 18) * ((100vw - 360px) / (768 - 360)));
         line-height: calc(20px + (28 - 20) * ((100vw - 360px) / (768 - 360)));
      }

      &__block {
         cursor: pointer;
         width: calc(268px + (300 - 268) * ((100vw - 360px) / (768 - 360)));
         height: calc(56px + (70 - 56) * ((100vw - 360px) / (768 - 360)));
         background-color: var(--bg-blue);
         border-radius: calc(10px + (20 - 10) * ((100vw - 360px) / (768 - 360)));
         display: flex;
         justify-content: center;
         align-items: center;
         font-weight: 700;
         text-transform: uppercase;
         color: var(--col-text);
         transition: 0.2s;
      }

      &__block:hover {
         background-color: var(--col-orange);
      }

      &__block:active {
         background-color: var(--col-orange);
         transform: perspective(1px) scale(0.98);
      }

      &__author {
      }

      &__picture {
      }

      &__settings {
      }

      &__image {
         box-shadow: 5px 5px 8px rgba($color: #000000, $alpha: 0.7);
         width: calc(260px + (300 - 260) * ((100vw - 360px) / (768 - 360)));
         height: calc(260px + (300 - 260) * ((100vw - 360px) / (768 - 360)));
         border-radius: calc(10px + (20 - 10) * ((100vw - 360px) / (768 - 360)));
         background-image: url("./images/assets/img/9.jpg");
      }
   }

   .footer {
      padding-top: 10px;
      padding-bottom: 10px;
      color: var(--col-grey);
      font-size: calc(14px + (17 - 14) * ((100vw - 360px) / (768 - 360)));
      line-height: calc(16px + (18 - 16) * ((100vw - 360px) / (768 - 360)));
      &__row {
         display: flex;
         align-items: center;
         justify-content: space-between;
         column-gap: 17px;
      }

      &__logo {
         width: 61px;
         height: 23px;
         background-image: url("./images/assets/svg/rs_school.svg");
      }

      &__author {
         text-align: center;
      }

      &__year {
      }
   }
}

@media (min-width: 769px) {
   .main {
      display: none;
   }

   .background__size {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
   }

   .start {
      padding-top: 20px;
      min-width: 100%;
      min-height: 100vh;
      &__body {
         min-height: 100vh;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
      }
   }
   .header {
      display: flex;
      justify-content: center;
      &__logo {
         width: calc(110px + (130 - 110) * ((100vw - 360px) / (768 - 360)));
         height: calc(132px + (152 - 132) * ((100vw - 360px) / (768 - 360)));
         background-image: url("./images/assets/logo/art-quiz.webp");
      }
   }

   .cards {
      &__row {
         display: flex;
         column-gap: calc(50px + (170 - 50) * ((100vw - 769px) / (1920 - 769)));
      }
   }
   .card {
      cursor: pointer;
      &__flip,
      &__body {
         width: calc(200px + (415 - 200) * ((100vw - 769px) / (1920 - 769)));
         height: calc(200px + (415 - 200) * ((100vw - 769px) / (1920 - 769)));
         position: relative;
         perspective: 1000px;
         filter: drop-shadow(-10px 15px 30px rgba(0, 0, 0, 0.25));
      }

      &__flip:hover &__author {
         transform: rotateY(180deg);
      }
      &__flip:hover &__back {
         transform: rotateY(360deg);
      }
      &__author,
      &__back {
         position: absolute;
         border-radius: 10px;
         width: 100%;
         height: 100%;
         background-size: 100%;
         background-position: center;
         background-repeat: no-repeat;
         transition: 1s;
         backface-visibility: hidden;
      }

      &__back {
         background-color: rgba(168, 67, 199, 0.7);
         transform: rotateY(180deg);
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         font-size: 20px;
         line-height: 30px;
         font-weight: 400;
         padding: 20px;
      }

      &__back span {
         display: inline-block;
      }

      &__text {
         padding-top: 15px;
         text-align: right;
         color: var(--col-grey);
         text-transform: uppercase;
         font-size: calc(22px + (36 - 22) * ((100vw - 769px) / (1920 - 769)));
         line-height: calc(26px + (40 - 26) * ((100vw - 769px) / (1920 - 769)));
         font-weight: 700;
      }

      &__text span {
         font-weight: 400;
      }
   }

   .author__one {
      background-image: url("./images/assets/img/30.jpg");
   }
   .author__two {
      background-image: url("./images/assets/img/75.jpg");
   }

   .settings {
      &__block {
         color: var(--bg-green);
         position: relative;
         cursor: pointer;
         width: 170px;
         height: 60px;
         border-radius: 10px;
         background: linear-gradient(to bottom, #00cece, #3aa0e4);
         display: flex;
         align-items: center;
         justify-content: space-around;
         transition: 0.5s;
         overflow: hidden;
      }

      &__logo {
         border: none;
         outline: none;
         background-color: black;
         background: transparent;
         width: 45px;
         height: 45px;
         background-image: url("./images/assets/svg/settings.svg");
         background-size: 100%;
         background-position: center;
         background-repeat: no-repeat;
         transform: rotate(0deg);
         transition: 1s;
      }

      &__block:hover &__logo {
         transform: rotate(180deg);
      }

      &__block:hover {
         transform: perspective(1px) translateZ(0) scale(1.05);
      }

      &__text {
         font-size: 18px;
         line-height: 22px;
         font-weight: 500;
         transform: perspective(1px) translateZ(0) scale(1);
         backface-visibility: hidden;
         transition: 0.5s;
      }
   }
   .footer {
      padding-top: 20px;
      padding-bottom: 10px;
      color: var(--col-grey);
      font-size: calc(17px + (19 - 17) * ((100vw - 769px) / (1920 - 769)));
      line-height: calc(18px + (20 - 18) * ((100vw - 769px) / (1920 - 769)));
      &__row {
         display: flex;
         align-items: center;
         justify-content: space-between;
         column-gap: 40px;
      }

      &__logo {
         width: calc(61px + (70 - 61) * ((100vw - 769px) / (1920 - 769)));
         height: calc(23px + (35 - 23) * ((100vw - 769px) / (1920 - 769)));
         background-image: url("./images/assets/svg/rs_school.svg");
      }

      &__author,
      &__year,
      &__logo {
         transition: 0.2s;
      }

      &__author:hover,
      &__year:hover,
      &__logo:hover {
         transform: scale(1.1);
         color: var(--col-orange);
      }
   }
}

.main__cube {
   position: relative;
   margin: 26px auto 0px;
   width: 140px;
   height: 140px;
   perspective: 500px;
}

.cube {
   width: inherit;
   height: inherit;
   transform-style: preserve-3d;
   animation: cube 10s linear infinite;
}

.side {
   position: absolute;
   width: inherit;
   height: inherit;
   border: 1px solid #fff;

   text-align: center;
   line-height: 140px;
   color: #fff;
}

.front {
   transform: translateZ(70px);
}

.back {
   transform: rotateY(180deg) translateZ(70px);
}

.right {
   transform: rotateY(90deg) translateZ(70px);
}

.left {
   transform: rotateY(-90deg) translateZ(70px);
}

.top {
   transform: rotateX(90deg) translateZ(70px);
}

.bottom {
   transform: rotateX(-90deg) translateZ(70px);
}

.main .back {
   background-image: url("./images/assets/img/73.jpg");
}

.main .front {
   background-image: url("./images/assets/img/220.jpg");
}

.main .left {
   background-image: url("./images/assets/img/31.jpg");
}

.main .right {
   background-image: url("./images/assets/img/46.jpg");
}

@keyframes cube {
   0% {
      transform: rotateY(0deg);
   }
   100% {
      transform: rotateY(360deg);
   }
}
