.questions {
   padding-top: 30px;
   min-width: 100%;
   min-height: 100%;
   position: relative;
   &__header {
      display: flex;
      align-items: center;
      column-gap: 10px;
   }

   &__close {
      width: 17px;
      height: 19px;
      background-image: url("./images/assets/svg/close.svg");
      cursor: pointer;
   }

   &__progress {
      width: 266px;
      height: 3px;
      background-color: var(--col-grey);
   }

   &__timer {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: var(--col-grey);
   }

   &__title {
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      color: var(--col-grey);
      padding: 29px 0 25px;
      text-align: center;
   }

   &__block {
   }
}

.block {
   &__picture {
      width: 320px;
      // height: 294px;
   }

   &__picture img {
      border-radius: 20px;
      display: block;
      object-fit: cover;
      width: 100%;
   }

   &__variants {
   }

   &__indicators {
      padding: 10px 5px 20px;
      display: flex;
      justify-content: space-between;
   }

   &__indicators span {
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: rgba($color: #efefef, $alpha: 0.8);
   }
}

.next__btn {
   width: 100px;
   height: 50px;
   background-color: #fff;
}

.variants {
   &__body {
      padding-bottom: 35px;
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      column-gap: 12px;
      justify-content: center;
      row-gap: 10px;
   }

   &__answer {
      width: 152px;
      height: 48px;
      border-radius: 10px;
      cursor: pointer;
      background: linear-gradient(to bottom, #00cece, #3aa0e4);
      display: flex;
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      color: var(--bg-green);
      justify-content: center;
      align-items: center;
   }

   &__answer:active {
      transform: scale(0.95);
      background: var(--col-orange);
   }
}
