.setting {
   position: relative;
   padding-top: 25px;
   min-width: 100%;
   min-height: 100vh;
}

.title__common {
   text-transform: uppercase;
   white-space: nowrap;
   color: var(--col-grey);
   font-weight: 500;
}

.fa-times {
   color: var(--col-grey);
}

.settings {
   &__close {
      position: absolute;
      width: 25px;
      height: 25px;
      background-image: url("./images/assets/svg/close.svg");
      top: 3%;
      right: 5px;
      cursor: pointer;
   }
   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      padding-top: 25px;
      padding-bottom: 5px;
      font-size: 30px;
      font-weight: 700;
      color: var(--col-grey);
      letter-spacing: 1.1px;
      position: relative;
   }

   &__title::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--col-text);
   }

   &__row {
      display: flex;
      flex-direction: column;
      padding-top: 25px;
      row-gap: 30px;
      align-items: center;
      font-size: 20px;
   }

   &__sound {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__switch {
      position: relative;
      display: block;
      width: 40px;
      height: 25px;
      border-radius: 25px;
      background-color: #fff;
      transition: 0.5s;
      cursor: pointer;
      box-shadow: inset 0 4px 10px rgb(0 0 0 / 10%), inset 0 4px 4px rgb(0 0 0 / 10%), inset 0 -2px 2px rgb(0 0 0 / 10%);
   }

   &__indicator {
      position: absolute;
      top: 0;
      left: 16px;
      width: 25px;
      height: 25px;
      background: linear-gradient(to bottom, #00cece, #3aa0e4);
      border-radius: 50%;
      transform: scale(0.9);
      box-shadow: 0 4px 10px rgb(0 0 0 / 50%), inset 0 2px 2px rgb(255 255 255 / 20%),
         inset 0 -2px 2px rgb(255 255 255 / 20%);
      transition: 0.5s;
   }

   &__progress {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1px;
   }

   &__timer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__time {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 25px;
   }
   &__button {
      padding-top: 40px;
   }
   &__select {
      width: 85px;
      height: 30px;
      font-size: 16px;
      padding: 2px;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid var(--col-grey);
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
   }
}

.mute {
   width: 30px;
   height: 30px;
   background-image: url("./images/assets/svg/volume.svg");
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: center;
   transition: 0.2s;
}

.volume {
   &__progress {
      background: linear-gradient(to right, #00cece 0%, #00cece 40%, #e5e5e5 0%, #e5e5e5 100%);
      border: solid 3px var(--bg-text);
      border-radius: 8px;
      height: 8px;
      width: 100%;
      outline: none;
      transition: background 450ms ease-in;
      -webkit-appearance: none;
   }

   &__progress::-webkit-slider-thumb {
      width: 17px;
      height: 17px;
      border: 2px solid var(--col-white);
      border-radius: 50%;
      -webkit-appearance: none;
      cursor: ew-resize;
      background: var(--bg-green);
   }
}
.timer {
   &__block {
      display: flex;
      align-items: center;
      column-gap: 10px;
   }
   &__icon {
      width: 28px;
      height: 34px;
      background-image: url("./images/assets/svg/timer.svg");
   }
}

.unmute {
   background-image: url("./images/assets/svg/mute.svg");
}

.time {
   &__title {
   }

   &__icon {
      width: 28px;
      height: 30px;
      background-image: url("./images/assets/svg/clock.svg");
   }

   &__select {
   }
}
.select {
}

.change__indicator {
   left: 0px;
}

.button {
   &__body {
   }

   &__row {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 30px;
   }

   &__save,
   &__home {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      width: 146px;
      height: 46px;
      border-radius: 16px;
      // background-color: #3aa0e4;
      background: linear-gradient(to bottom, #00cece, #3aa0e4);
      box-shadow: 0 4px 10px rgb(0 0 0 / 50%), inset 0 2px 2px rgb(255 255 255 / 20%),
         inset 0 -2px 2px rgb(255 255 255 / 20%);
      cursor: pointer;
      transition: 0.2s;
   }

   &__save:hover,
   &__home:hover {
      transform: perspective(1px) scale(0.95);
   }

   &__text {
      color: var(--bg-green);
      font-weight: 600;
   }
}

.text__size {
   font-size: 16px;
   line-height: 18px;
   pointer-events: none;
   text-transform: uppercase;
}

.settings__button .buttons {
   position: relative;
   overflow: hidden;
}

.settings__button span {
   position: absolute;
   top: 0;
   left: 0;
   background-color: var(--col-white);
   pointer-events: none;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   animation: animate 1s linear infinite;
}

@keyframes animate {
   0% {
      width: 0;
      height: 0;
      opacity: 0.5;
   }
   100% {
      width: 500px;
      height: 500px;
      opacity: 0;
   }
}

.circle {
   position: absolute;
   background-color: #fff;
   border-radius: 50%;
   -webkit-transform: scale(0);
   transform: scale(0);
   -webkit-animation: pulse 0.7s ease-out;
   animation: pulse 0.7s ease-out;
}

// .settings {
//    &__wrapper {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       min-height: 100vh;
//       position: relative;
//    }
//    &__logotip {
//       overflow: inherit;
//       width: 225px;
//       height: 140px;
//       background-image: url("./images/assets/svg/logo.svg");
//    }
//    &__sound {
//       width: 100px;
//       height: 82px;
//       transition: 0.5s;
//    }

//    &__sound:hover {
//       transform: scale(1.1);
//    }
//    &__progress {
//       padding-top: 67px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       column-gap: 11px;
//    }

//    &__mute {
//       display: flex;
//       align-items: center;
//    }

//    &__description {
//       padding-top: 55px;
//       font-weight: 700;
//       font-size: 36px;
//       line-height: 44px;
//       text-transform: uppercase;
//       color: var(--bg-red);
//    }
//    &__header {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//    }
//    &__title {
//       padding: 21px 0;
//       font-weight: 400;
//       text-transform: uppercase;
//    }

//
// }

// .volume__progress {
//    background: linear-gradient(to right, #660033 0%, #660033 40%, #e5e5e5 40%, #e5e5e5 100%);
//    border: solid 2px var(--bg-red);
//    border-radius: 8px;
//    height: 6px;
//    width: 270px;
//    outline: none;
//    transition: background 450ms ease-in;
//    -webkit-appearance: none;
// }

// .volume__progress::-webkit-slider-thumb {
//    width: 14px;
//    height: 14px;
//    border: 2px solid var(--col-white);
//    border-radius: 50%;
//    -webkit-appearance: none;
//    cursor: ew-resize;
//    background: #434343;
// }

// .mute {
//    width: 30px;
//    height: 40px;
//    background-image: url("./images/assets/svg/volume.svg");
//    transition: 0.2s;
// }

// .mute:hover,
// .timer__icon:hover {
//    transform: scale(1.1);
// }

// .unmute {
//    background-image: url("./images/assets/svg/mute.svg");
// }

// .card {
//    &__body {
//       background-color: rgba(255, 255, 255, 0.5);
//       padding: 89px 0 55px;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       transition: 0.2s;
//    }

//    &__timer {
//       padding: 75px 0 30px;
//    }
// }

// .card:hover .card__body {
//    background-color: rgba(255, 255, 255, 0.8);
// }

// .timer {
//    display: flex;
//    flex-direction: column;
//    align-items: center;

//    &__icon {
//       width: 85px;
//       height: 100px;
//       transition: 0.5s;
//       background-image: url("./images/assets/svg/timer.svg");
//    }

//    &__check {
//       display: flex;
//       flex-direction: column;
//       row-gap: 13px;
//       align-items: center;
//       padding: 50px 0 40px;
//    }

//    &__turn {
//       width: 30px;
//       height: 30px;
//       border: 1px solid var(--bg-red);
//       background-image: url("./images/assets/svg/check.svg");
//    }

//    &__check-description {
//       color: var(--bg-red);
//    }

//    &__text {
//       padding-top: 0;
//    }
// }

// .background__size {
//    background-size: 100%;
//    background-repeat: no-repeat;
//    background-position: center;
// }

// .buttons {
//    padding-top: 173px;
//    padding-bottom: 60px;
//    &__body {
//    }

//    &__row {
//       display: flex;
//       column-gap: 50px;
//    }

//    &__save {
//    }

//    &__text {
//       color: var(--col-white);
//       font-weight: 400;
//    }

//    &__block {
//       width: 150px;
//       height: 50px;
//       border-radius: 5px;
//       background-color: var(--bg-red);
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       cursor: pointer;
//       transition: 0.2s;
//    }
//    &__block:hover {
//       transform: perspective(1px) scale(1.1);
//    }
// }
