// shift+alt+f
//МИКСИНЫ================================
@import "mixin.scss";
//МИКСИНЫ================================

//подключение шрифтов====================
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
//подключение шрифтов====================

//шрифт по умолчанию====================
$fontfamily: "Roboto", sans-serif;
//шрифт по умолчанию====================

//переменные============================
$minwidth: 320px;
$mw: 1100px;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
:root {
   --bg-dark: #030303;
}
//переменные============================

// Файл обнуляющих стилей===============
@import "nullstyle.scss";
// Файл обнуляющих стилей===============

//ОБОЛОЧКА==============================
.wrapper {
   @include flexbox();
   flex-direction: column;
   width: 100%;
   margin: 0 auto;
}
//ОБОЛОЧКА==============================

//ОСНОВНАЯ СЕТКА========================
.container {
   margin: 0 auto;
   width: 100%;
   max-width: 1440px;
   width: calc(100% - 40px);
   overflow: hidden;
}
//ОСНОВНАЯ СЕТКА========================

html {
   scroll-behavior: smooth;
}

a {
   color: inherit;
   text-decoration: none;
}

// HEADER ===========================
@import "header.scss";
// ==================================

.welcome {
   background-color: var(--bg-dark);
   color: #ffffff;

   &__row {
      position: relative;
      padding-bottom: 271px;
   }

   &__left {
      position: relative;
      pointer-events: none;
      left: 0;
      z-index: 5;
      transition: left 0.7s;
   }

   &__slider {
      position: absolute;
      // чтобы слайдер отображался
      width: 100%;
      height: 100%;
      top: 0;
      left: 30.5%;
   }

   &__slider img {
      display: block;
      width: 100%;
   }

   &__panel {
      position: absolute;
      @include flexbox();
      justify-content: center;
      align-items: center;
      column-gap: 59px;
      bottom: 0;
      right: 0;
      max-width: 600px;
      width: 100%;
      height: 120px;
      background-color: #030303;
   }

   &__title {
      padding: 150px 0 0 0;
      // white-space: nowrap;
   }

   &__title span {
      display: block;
   }

   &__text {
      font-weight: 300;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 2px;
      margin: 26px 0 76px;
   }

   &__button {
      display: inline-block;
      pointer-events: auto;
      width: 360px;
      height: 75px;
      line-height: 75px;
      border-radius: 10px;
      background-color: #710707;
      font-size: 22px;
      letter-spacing: 2px;
      font-weight: 100;
      text-align: center;
      color: #ffffff;
   }
   &__button:hover {
      background-color: #9d8665;
      transition: linear 0.1s;
   }
}

// SLICK-SLIDER========================
@import "slick-slider.scss";
// ====================================

.section {
   &__title {
      font-family: Forum;
      font-size: 80px;
      font-size: 10vw;
      line-height: 90px;
      letter-spacing: 5px;
      font-weight: 400;
      text-transform: uppercase;
   }
}

@media (max-width: 1024px) {
   .welcome__left._close {
      left: -100%;
   }

   .slider__item {
      max-width: 700px;
      max-height: 525px;
   }
   .section__title {
      font-size: calc();
   }
}

.visiting {
   &__body {
      padding: 0 0 74px 0;
   }

   &__title {
      padding: 75px 0 28px 0;
      position: relative;
      color: #9d8665;
   }

   &__border:after {
      content: "";
      position: absolute;
      background: #710707;
      bottom: 0;
      left: 0;
      width: 1440px;
      height: 3px;
   }

   &__column {
      @include flexbox();
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 -30px;
      flex: 0 1 33.33%;
   }
}

.card {
   color: #000000;
   padding: 0px 30px 0;

   &__link {
      margin-top: 75px;
   }

   &__link img {
      margin-bottom: 25px;
   }

   &__title {
      position: relative;
      font-family: Forum;
      font-weight: 400;
      font-size: 32px;
      line-height: 35px;
      letter-spacing: 5px;
      text-transform: uppercase;
      padding-bottom: 11px;
   }

   &__title:after {
      width: 300px;
      height: 2px;
      transition: ease 1s;
   }

   &__subtitle {
      padding: 10px 0 10px;
      font-weight: 100;
      font-size: 22px;
      line-height: 26px;
   }

   &__text {
      font-weight: 100;
      font-size: 18px;
      line-height: 22px;
   }
}
.card:hover .card__title::after {
   content: "";
   width: 100%;
   transition: width ease 1.2s;
}

.card img:hover {
   -webkit-filter: saturate(120%);
   filter: saturate(120%);
}
.card__link .card:hover {
   transform: scale(0.97);
   transition: 0.2s;
   img {
      box-shadow: 0 0 4px 1px;
      border-radius: 2px;
   }
}

.explore {
   background-color: var(--bg-dark);
   //max-height: 865px;
   //margin-top: 78px;

   &__row {
      @include flexbox();
      justify-content: center;
      margin: 0 -30px;
      padding: 0 0 75px 0;
   }

   &__describe {
      color: #ffffff;
      padding: 0 30px;
   }

   &__title {
      position: relative;
      padding: 75px 0 28px 0;
   }
   &__title:after {
      content: "";
      position: absolute;
      background: #710707;
      bottom: 0;
      left: 0;
      // width: 660px;
      width: 100%;
      height: 3px;
   }

   &__text {
      font-weight: 300;
      font-size: 22px;
      line-height: 39px;
      padding: 0px 0 25px 0;
      //max-width: 660px;
   }
   &__text:nth-child(2) {
      padding: 75px 0 25px 0;
   }
   &__text:last-child {
      padding: 0px 0 0px 0;
   }
   span {
      color: #caaa7d;
   }

   &__compare {
      padding: 90px 32px 0 30px;
   }

   &__img {
      position: relative;
      width: 720px;
      height: 700px;
   }

   &__line {
      position: absolute;
      max-width: 39px;
      max-height: 700px;
      left: 58.7%;
   }

   // не забыть убрать
   &__before {
      position: absolute;
      max-width: 440px;
      height: 700px;
      top: 0;
      // right: 41%;
   }

   &__img img {
      display: block;
      width: 100%;
   }
}

.video {
   &__section {
      position: relative;
      height: auto;
      transition: 2s;
      padding-bottom: 40px;
   }

   &__player {
      position: relative;
      overflow: hidden;
      max-height: 650px;
   }

   &__player video {
      height: 100%;
      width: 100%;
   }

   //сделать правильно
   &__play {
      position: absolute;
      background: url("./../assets/video/buuton_play.svg");
      width: 220px;
      height: 220px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      opacity: 1;
      transition-duration: 1s;
   }

   &__play:hover {
      background-color: transparent;
      filter: invert(64%) sepia(0%) saturate(518%) hue-rotate(149deg) brightness(96%) contrast(86%);
      transition: linear 0.2s;
      opacity: 0.9;
   }

   &__panel {
      height: 85px;
      width: 100%;
      background-color: #000000;
      // position: absolute;
      // transform: translateY(-100%);
      transition: 1s;
   }

   &__describe {
      padding: 75px 0;
   }

   &__row {
      @include flexbox();
      justify-content: space-between;
   }

   &__title {
      color: #9d8665;
      //white-space: nowrap;
      //padding: 0 115px 0 0;
   }

   &__text {
      padding: 7px 0 0 0;
      font-size: 22px;
      font-weight: 300;
      line-height: 39px;
      max-width: 720px;
   }

   &-slides iframe {
      max-width: 100%;
   }
}

.panel {
   &__row {
      @include flexbox();
      justify-content: center;
      align-items: center;
      column-gap: 50px;
      height: 100%;
   }

   &__play {
      display: block;
      background: url("./../assets/video/play.svg") no-repeat;
      width: 23px;
      height: 30px;
      /* чтобы кнопки не ломались и не урезались */
      flex-shrink: 0;
   }

   .pause__btn {
      background: url("./../assets/video/pause.svg") center no-repeat;
   }

   &__play:hover,
   &__sound:hover,
   &__window:hover {
      background-color: transparent;
      filter: invert(60%) sepia(13%) saturate(7%) hue-rotate(325deg) brightness(99%) contrast(86%);
      transition: linear 0.2s;
   }

   &__timeline {
      height: 8px;
      .progress {
         background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
         border: solid 2px #740c11;
         height: 8px;
         width: 100%;
         border-radius: 10px;
         outline: none;
         -webkit-transition: background 450ms ease-in;
         transition: background 450ms ease-in;
         -webkit-appearance: none;
      }

      .progress::-webkit-slider-thumb {
         width: 15px;
         height: 15px;
         border-radius: 50%;
         -webkit-appearance: none;
         cursor: ew-resize;
         background: #c4c4c4;
      }
   }

   &__timeline.panel__width {
      width: 64.514%;
   }

   &__timeline.panel__soundcheck {
      width: 48%;
   }

   &__rigth {
      @include flexbox();
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;
   }

   &__sound {
      display: block;
      background: url("./../assets/video/sound.svg") no-repeat;
      width: 38px;
      height: 30px;
      flex-shrink: 0;
   }

   &__soundcheck {
      .progress {
         width: 155px;
      }
   }

   &__window {
      background: url("./../assets/video/window.svg");
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      padding: 0 5px 0 0;
   }
}

// SWIPER-SLIDER================================
@import "swiper-slider.scss";
// =============================================

.gallery {
   background-color: var(--bg-dark);
   color: #ffffff;
   &__title {
      padding: 75px 0;
   }

   &__container {
      position: relative;
      height: 1960px;
      margin: 0 auto;
      overflow: hidden;
   }
   &__container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
         0deg,
         rgba(0, 0, 0, 1) 1%,
         rgba(0, 0, 0, 0.61) 6%,
         rgba(0, 0, 0, 0) 16%,
         rgba(0, 0, 0, 0) 26%
      );
   }

   &__inner {
      max-width: 100%;
      height: 3000px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      row-gap: 24px;
   }

   &__inner::before,
   &__inner::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
   }

   &__img {
      width: 31.667%;
   }

   &__img:nth-child(3n + 1) {
      order: 1;
   }
   &__img:nth-child(3n + 2) {
      order: 2;
   }
   &__img:nth-child(3n) {
      order: 3;
   }

   &__img img {
      display: block;
      width: 100%;
   }
}

.tickets {
   background: #ffffff;
   color: #000000;
   &__title {
      color: #9d8665;
      position: relative;
      padding: 75px 0 28px 0;
   }

   &__title:after {
      content: "";
      position: absolute;
      background: #710707;
      bottom: 0;
      left: 0;
      width: 1440px;
      height: 3px;
   }

   &__main {
      padding: 75px 0;
   }

   &__row {
      @include flexbox();
      column-gap: 60px;
      // justify-content: space-between;
   }

   &__image {
      width: 720px;
      height: 550px;
   }

   &__section {
      @include flexbox();
      justify-content: space-between;
      width: 100%;
   }

   &__price {
      @include flexbox();
      flex-direction: column;
   }

   &__amount {
      padding: 0 0 52px 0;
   }
}

.type {
   &__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      padding: 0 0 50px 0;
   }

   &__row {
      @include flexbox();
      flex-direction: column;
      white-space: nowrap;
      row-gap: 25px;
   }

   &__radio {
      padding-left: 39px;
      display: block;
      position: relative;
      //cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      label {
         font-weight: 300;
         font-size: 22px;
         line-height: 26px;
      }
      input {
         position: absolute;
         top: 5px;
         left: 2px;
         opacity: 0;
         cursor: pointer;
         z-index: 5;
      }
   }
   &__radio:last-child {
      margin-bottom: 0;
   }

   &__checkmark {
      position: absolute;
      top: 4px;
      left: 0;
      height: 17px;
      width: 17px;
      border: solid 2px #000000;
      border-radius: 50%;
   }

   &__checkmark:after {
      content: "";
      position: absolute;
      display: none;
   }

   &__radio input:checked ~ .type__checkmark:after {
      display: block;
   }

   &__radio .type__checkmark:after {
      top: 2.9px;
      left: 3.2px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #000000;
   }
}
.amount {
   &__title {
      font-size: 28px;
      line-height: 33px;
      font-weight: 700;
      text-align: right;
      padding-bottom: 25px;
   }

   &__row {
      @include flexbox();
      flex-direction: column;
      padding: 0 0 0 24px;
      row-gap: 12px;
   }

   &__position {
      width: 150px;
      // padding-bottom: 36px;
   }

   &__text {
      font-size: 22px;
      line-height: 26px;
      font-weight: 300;
      padding: 0 2px 13px 0;
   }

   &__number {
      @include flexbox();
      justify-content: space-between;
      text-align: center;
      width: 150px;
      height: 50px;
      border: solid 3px #000000;
      .number {
         appearance: none;
         all: unset;
         width: 3em;
         text-align: center;
         font-weight: 300;
         font-size: 22px;
         line-height: 26px;
      }
   }

   &__sign {
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      background-color: transparent;
   }

   &__plus {
      margin: auto;
   }

   &__minus {
      margin: auto;
   }
}

.total {
   &__title {
      padding: 0 0 60px 25px;
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 1.65px;
      white-space: nowrap;
   }

   &__buy {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2px;
      color: #ffffff;
      width: 175px;
      height: 50px;
      background-color: #000000;
      border-radius: 2px;
   }

   &__buy:hover {
      background-color: #9d8665;
      transform: scale(0.95);
      transition: linear 0.1s;
   }
}

.parallax {
   width: 100%;
   background-image: url("./../assets/img/parallaxx.jpg");
   height: 400px;
   background-attachment: fixed;
   background-size: cover;
}

.contacts {
   &__title {
      position: relative;
      color: #9d8665;
      padding: 75px 0 28px 0;
   }
   &__title:after {
      content: "";
      position: absolute;
      background: #710707;
      bottom: 0;
      left: 0;
      width: 1440px;
      height: 3px;
   }

   &__row {
      @include flexbox();
      justify-content: space-between;
   }

   &__adress {
      padding: 75px 0 0 0;
   }

   &__map {
      padding: 75px 0;
   }
}

.adress {
   color: #000000;
   &__row {
      @include flexbox();
      flex-direction: column;
   }

   &__title {
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
   }

   &__titles {
      padding-bottom: 50px;
   }

   &__adress {
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      padding: 0 0 25px 0;
   }
}

.footer {
   background-color: var(--bg-dark);
   color: #ffffff;
   &__row {
      @include flexbox();
      justify-content: space-between;
      width: 100%;
   }
   &__section {
      display: flex;
      flex-direction: column;
   }
   &__up {
      padding: 75px 0 40px 0;
   }
   &__down {
      padding: 51px 0 75px;
   }

   &__line {
      position: relative;
   }

   &__line::after {
      content: "";
      position: absolute;
      background: #666666;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
   }

   &__end {
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
      font-weight: 100;
      opacity: 0.85;
   }
   &__year:hover,
   &__rsschool:hover,
   &__username:hover {
      opacity: 1;
      color: #9d8665;
      transition: linear 0.2s;
      transform: scale(0.95);
   }
}

.logo {
   @include flexbox();

   &__title {
      opacity: 0.8;
   }

   &__title:hover {
      opacity: 1;
      color: #9d8665;
      transition: linear 0.2s;
   }
}
.navigation {
   @include flexbox();
   column-gap: 173px;

   // column-gap: 150px;
   padding-right: 261px;

   &__container:last-child {
      padding-right: 0;
   }

   &__list {
      @include flexbox();
      flex-direction: column;
   }

   &__item {
      line-height: 50px;
      font-weight: 100;
      font-size: 22px;
      letter-spacing: 2px;

      opacity: 0.75;
   }

   &__item:hover {
      opacity: 1;
      color: #9d8665;
      transition: linear 0.2s;
   }
}

.social {
   &__body {
      padding: 88px 0 0 0;
   }

   &__list {
      @include flexbox();
      column-gap: 25px;
   }

   &__item {
      @include flexbox();
      width: 48px;
      height: 48px;
      border: solid 2px #ffffff;
      border-radius: 50%;
   }

   &__item:hover {
      transition: linear 0.2s;
      border: solid 2px #9d8665;
      filter: invert(54%) sepia(32%) saturate(347%) hue-rotate(356deg) brightness(93%) contrast(92%);
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
   }
   &__link:first-child {
      margin-left: 0;
   }
   &__link:last-child {
      margin-right: 0;
   }

   &__youtube {
      background: url("./../assets/svg/social/youtube.svg") 48% 50% no-repeat;
   }

   &__instagram {
      background: url("./../assets/svg/social/instagram.svg") 48% 50% no-repeat;
   }

   &__facebook {
      background: url("./../assets/svg/social/facebook.svg") 52% 50% no-repeat;
   }

   &__twitter {
      background: url("./../assets/svg/social/twitter.svg") 50% no-repeat;
   }

   &__pinterest {
      background: url("./../assets/svg/social/pinterest.svg") 50% 50% no-repeat;
   }
}

// POPUP ============================
@import "popup.scss";
// ==================================
