@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --bg-dark: #030303;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Roboto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  width: calc(100% - 40px);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: var(--bg-dark);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 51px 0 49px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  font-family: Forum;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  padding-left: 73px;
  font-weight: 400;
  background: url("./../assets/svg/louvre.svg") left no-repeat;
  background-size: 49px 26px;
  opacity: 0.8;
}

.logo__title:hover {
  -webkit-filter: invert(0%) sepia(99%) saturate(20%) hue-rotate(220deg) brightness(60%) contrast(101%);
          filter: invert(0%) sepia(99%) saturate(20%) hue-rotate(220deg) brightness(60%) contrast(101%);
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.menu__container {
  max-width: 770px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 55px;
          column-gap: 55px;
}

.menu__item {
  line-height: 50px;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  color: #ffffff;
  opacity: 0.75;
}

.menu__item:hover {
  opacity: 1;
  color: #9d8665;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.welcome {
  background-color: var(--bg-dark);
  color: #ffffff;
}

.welcome__row {
  position: relative;
  padding-bottom: 271px;
}

.welcome__left {
  position: relative;
  pointer-events: none;
  z-index: 5;
}

.welcome__slider {
  position: absolute;
  width: 100%;
  top: 0;
  left: 30.5%;
}

.welcome__panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 59px;
          column-gap: 59px;
  bottom: 0;
  right: 0;
  max-width: 600px;
  width: 100%;
  height: 120px;
  background-color: #030303;
}

.welcome__title {
  padding: 150px 0 0 0;
}

.welcome__title span {
  display: block;
}

.welcome__text {
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  margin: 26px 0 76px;
}

.welcome__button {
  display: inline-block;
  pointer-events: auto;
  width: 360px;
  height: 75px;
  line-height: 75px;
  border-radius: 10px;
  background-color: #710707;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
}

.welcome__button:hover {
  background-color: #9d8665;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

.slider__item {
  position: relative;
}

.slides__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  color: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
}

.slides__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  -webkit-filter: invert(55%) sepia(5%) saturate(2034%) hue-rotate(356deg) brightness(96%) contrast(90%);
          filter: invert(55%) sepia(5%) saturate(2034%) hue-rotate(356deg) brightness(96%) contrast(90%);
}

.slides__count span:nth-child(2) {
  padding: 0 10px;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  width: 30px;
  height: 8px;
  font-size: 0;
}

.slick-arrow.slick-prev {
  background: url("./../assets/img/welcome_slider/prev.svg") 0 0/100% no-repeat;
}

.slick-arrow.slick-next {
  background: url("./../assets/img/welcome_slider/next.svg") 0 0/100% no-repeat;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.slick-dots li.slick-active button {
  background-color: #d2b183;
}

.slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
}

.slider__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, black), color-stop(8%, rgba(0, 0, 0, 0.647794)), color-stop(21%, rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, black 1%, rgba(0, 0, 0, 0.647794) 8%, rgba(0, 0, 0, 0) 21%);
}

.section__title {
  font-family: Forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
}

.visiting__body {
  padding: 0 0 74px 0;
}

.visiting__title {
  padding: 75px 0 28px 0;
  position: relative;
  color: #9d8665;
}

.visiting__border:after {
  content: "";
  position: absolute;
  background: #710707;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 3px;
}

.visiting__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.card {
  color: #000000;
  padding: 0px 30px 0;
}

.card__link {
  margin-top: 75px;
}

.card__link img {
  margin-bottom: 25px;
}

.card__title {
  position: relative;
  font-family: Forum;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-bottom: 11px;
}

.card__title:after {
  width: 300px;
  height: 2px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.card__subtitle {
  padding: 10px 0 10px;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
}

.card__text {
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
}

.card:hover .card__title::after {
  content: "";
  width: 100%;
  -webkit-transition: width ease 1.2s;
  transition: width ease 1.2s;
}

.card img:hover {
  -webkit-filter: saturate(120%);
  filter: saturate(120%);
}

.card__link .card:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link .card:hover img {
  -webkit-box-shadow: 0 0 4px 1px;
          box-shadow: 0 0 4px 1px;
  border-radius: 2px;
}

.explore {
  background-color: var(--bg-dark);
}

.explore__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -30px;
  padding: 0 0 75px 0;
}

.explore__describe {
  color: #ffffff;
  padding: 0 30px;
}

.explore__title {
  position: relative;
  padding: 75px 0 28px 0;
}

.explore__title:after {
  content: "";
  position: absolute;
  background: #710707;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.explore__text {
  font-weight: 300;
  font-size: 22px;
  line-height: 39px;
  padding: 0px 0 25px 0;
}

.explore__text:nth-child(2) {
  padding: 75px 0 25px 0;
}

.explore__text:last-child {
  padding: 0px 0 0px 0;
}

.explore span {
  color: #caaa7d;
}

.explore__compare {
  padding: 90px 32px 0 30px;
}

.explore__img {
  position: relative;
  width: 720px;
  height: 700px;
}

.explore__line {
  position: absolute;
  max-width: 39px;
  max-height: 700px;
  left: 58.7%;
}

.explore__before {
  position: absolute;
  max-width: 440px;
  height: 700px;
  top: 0;
}

.explore__img img {
  display: block;
  width: 100%;
}

.video__section {
  position: relative;
  height: auto;
  -webkit-transition: 2s;
  transition: 2s;
  padding-bottom: 40px;
}

.video__player {
  position: relative;
  overflow: hidden;
  max-height: 650px;
}

.video__player video {
  height: 100%;
  width: 100%;
}

.video__play {
  position: absolute;
  background: url("./../assets/video/buuton_play.svg");
  width: 220px;
  height: 220px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.video__play:hover {
  background-color: transparent;
  -webkit-filter: invert(64%) sepia(0%) saturate(518%) hue-rotate(149deg) brightness(96%) contrast(86%);
          filter: invert(64%) sepia(0%) saturate(518%) hue-rotate(149deg) brightness(96%) contrast(86%);
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  opacity: 0.9;
}

.video__panel {
  height: 85px;
  width: 100%;
  background-color: #000000;
  -webkit-transition: 1s;
  transition: 1s;
}

.video__describe {
  padding: 75px 0;
}

.video__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video__title {
  color: #9d8665;
}

.video__text {
  padding: 7px 0 0 0;
  font-size: 22px;
  font-weight: 300;
  line-height: 39px;
  max-width: 720px;
}

.video-slides iframe {
  max-width: 100%;
}

.panel__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  height: 100%;
}

.panel__play {
  display: block;
  background: url("./../assets/video/play.svg") no-repeat;
  width: 23px;
  height: 30px;
  /* чтобы кнопки не ломались и не урезались */
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.panel .pause__btn {
  background: url("./../assets/video/pause.svg") center no-repeat;
}

.panel__play:hover, .panel__sound:hover, .panel__window:hover {
  background-color: transparent;
  -webkit-filter: invert(60%) sepia(13%) saturate(7%) hue-rotate(325deg) brightness(99%) contrast(86%);
          filter: invert(60%) sepia(13%) saturate(7%) hue-rotate(325deg) brightness(99%) contrast(86%);
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.panel__timeline {
  height: 8px;
}

.panel__timeline .progress {
  background: -webkit-gradient(linear, left top, right top, from(#710707), color-stop(40%, #710707), color-stop(40%, #fff), to(#fff));
  background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
  border: solid 2px #740c11;
  height: 8px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.panel__timeline .progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #c4c4c4;
}

.panel__timeline.panel__width {
  width: 64.514%;
}

.panel__timeline.panel__soundcheck {
  width: 48%;
}

.panel__rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.panel__sound {
  display: block;
  background: url("./../assets/video/sound.svg") no-repeat;
  width: 38px;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.panel__soundcheck .progress {
  width: 155px;
}

.panel__window {
  background: url("./../assets/video/window.svg");
  width: 36px;
  height: 36px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 5px 0 0;
}

.slider__buttons {
  padding: 40px 0 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.slider__buttons .swiper-button-prev {
  position: static;
  margin: 0;
  width: 10px;
  height: 12px;
  background-image: url("./../assets/video/buttons/prev.svg");
}

.slider__buttons .swiper-button-next {
  margin: 0;
  position: static;
  width: 10px;
  height: 12px;
  background-image: url("./../assets/video/buttons/next.svg");
}

.slider__buttons .swiper-button-prev:hover,
.slider__buttons .swiper-button-next:hover,
.slider__buttons .swiper-pagination-bullet-active:hover,
.slider__buttons .swiper-pagination-bullet:hover {
  -webkit-filter: invert(14%) sepia(52%) saturate(3352%) hue-rotate(342deg) brightness(84%) contrast(114%);
          filter: invert(14%) sepia(52%) saturate(3352%) hue-rotate(342deg) brightness(84%) contrast(114%);
  opacity: 1;
}

.slider__buttons .swiper-pagination {
  position: static;
  width: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.slider__buttons .swiper-button-prev::after,
.slider__buttons .swiper-button-next::after {
  font-size: 0;
}

.slider__buttons .swiper-pagination-bullet-active {
  background: #333333;
}

.slider__buttons .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.gallery {
  background-color: var(--bg-dark);
  color: #ffffff;
}

.gallery__title {
  padding: 75px 0;
}

.gallery__container {
  position: relative;
  height: 1960px;
  margin: 0 auto;
  overflow: hidden;
}

.gallery__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, black), color-stop(6%, rgba(0, 0, 0, 0.61)), color-stop(16%, rgba(0, 0, 0, 0)), color-stop(26%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 1%, rgba(0, 0, 0, 0.61) 6%, rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 26%);
}

.gallery__inner {
  max-width: 100%;
  height: 3000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  row-gap: 24px;
}

.gallery__inner::before, .gallery__inner::after {
  content: "";
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.gallery__img {
  width: 31.667%;
}

.gallery__img:nth-child(3n + 1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.gallery__img:nth-child(3n + 2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.gallery__img:nth-child(3n) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.gallery__img img {
  display: block;
  width: 100%;
}

.tickets {
  background: #ffffff;
  color: #000000;
}

.tickets__title {
  color: #9d8665;
  position: relative;
  padding: 75px 0 28px 0;
}

.tickets__title:after {
  content: "";
  position: absolute;
  background: #710707;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 3px;
}

.tickets__main {
  padding: 75px 0;
}

.tickets__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

.tickets__image {
  width: 720px;
  height: 550px;
}

.tickets__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.tickets__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tickets__amount {
  padding: 0 0 52px 0;
}

.type__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  padding: 0 0 50px 0;
}

.type__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
  row-gap: 25px;
}

.type__radio {
  padding-left: 39px;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.type__radio label {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.type__radio input {
  position: absolute;
  top: 5px;
  left: 2px;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}

.type__radio:last-child {
  margin-bottom: 0;
}

.type__checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 17px;
  width: 17px;
  border: solid 2px #000000;
  border-radius: 50%;
}

.type__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.type__radio input:checked ~ .type__checkmark:after {
  display: block;
}

.type__radio .type__checkmark:after {
  top: 2.9px;
  left: 3.2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000000;
}

.amount__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  text-align: right;
  padding-bottom: 25px;
}

.amount__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 24px;
  row-gap: 12px;
}

.amount__position {
  width: 150px;
}

.amount__text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  padding: 0 2px 13px 0;
}

.amount__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 150px;
  height: 50px;
  border: solid 3px #000000;
}

.amount__number .number {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  all: unset;
  width: 3em;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.amount__sign {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  background-color: transparent;
}

.amount__plus {
  margin: auto;
}

.amount__minus {
  margin: auto;
}

.total__title {
  padding: 0 0 60px 25px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  white-space: nowrap;
}

.total__buy {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #ffffff;
  width: 175px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
}

.total__buy:hover {
  background-color: #9d8665;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

.parallax {
  width: 100%;
  background-image: url("./../assets/img/parallaxx.jpg");
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
}

.contacts__title {
  position: relative;
  color: #9d8665;
  padding: 75px 0 28px 0;
}

.contacts__title:after {
  content: "";
  position: absolute;
  background: #710707;
  bottom: 0;
  left: 0;
  width: 1440px;
  height: 3px;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__adress {
  padding: 75px 0 0 0;
}

.contacts__map {
  padding: 75px 0;
}

.adress {
  color: #000000;
}

.adress__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

.adress__titles {
  padding-bottom: 50px;
}

.adress__adress {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  padding: 0 0 25px 0;
}

.footer {
  background-color: var(--bg-dark);
  color: #ffffff;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__up {
  padding: 75px 0 40px 0;
}

.footer__down {
  padding: 51px 0 75px;
}

.footer__line {
  position: relative;
}

.footer__line::after {
  content: "";
  position: absolute;
  background: #666666;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.footer__end {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 100;
  opacity: 0.85;
}

.footer__year:hover, .footer__rsschool:hover, .footer__username:hover {
  opacity: 1;
  color: #9d8665;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.logo__title {
  font-family: Forum;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  padding-left: 73px;
  font-weight: 400;
  background: url("./../assets/svg/louvre.svg") left no-repeat;
  background-size: 49px 26px;
  opacity: 0.8;
}

.logo__title:hover {
  opacity: 1;
  color: #9d8665;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-column-gap: 173px;
          column-gap: 173px;
  padding-right: 261px;
}

.navigation__container:last-child {
  padding-right: 0;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__item {
  line-height: 50px;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  opacity: 0.75;
}

.navigation__item:hover {
  opacity: 1;
  color: #9d8665;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.social__body {
  padding: 88px 0 0 0;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  width: 48px;
  height: 48px;
  border: solid 2px #ffffff;
  border-radius: 50%;
}

.social__item:hover {
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  border: solid 2px #9d8665;
  -webkit-filter: invert(54%) sepia(32%) saturate(347%) hue-rotate(356deg) brightness(93%) contrast(92%);
          filter: invert(54%) sepia(32%) saturate(347%) hue-rotate(356deg) brightness(93%) contrast(92%);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.social__link:first-child {
  margin-left: 0;
}

.social__link:last-child {
  margin-right: 0;
}

.social__youtube {
  background: url("./../assets/svg/social/youtube.svg") 48% 50% no-repeat;
}

.social__instagram {
  background: url("./../assets/svg/social/instagram.svg") 48% 50% no-repeat;
}

.social__facebook {
  background: url("./../assets/svg/social/facebook.svg") 52% 50% no-repeat;
}

.social__twitter {
  background: url("./../assets/svg/social/twitter.svg") 50% no-repeat;
}

.social__pinterest {
  background: url("./../assets/svg/social/pinterest.svg") 50% 50% no-repeat;
}

input {
  font-family: inherit;
  /* 1 */
  font-size: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

.popup {
  padding-top: 10px;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__wrapper {
  position: relative;
}

.popup__overlay {
  position: fixed;
  content: "";
  height: 200vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  left: -120%;
  bottom: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.popup__close {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  left: 96.25%;
  top: 3.42%;
  width: 25px;
  height: 25px;
  background: url("./../assets/popup/Close.svg") no-repeat;
}

.popup__close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.popup._active {
  left: 0;
}

.form__body {
  position: relative;
  z-index: 10;
  padding-top: 90px;
  margin-bottom: 90px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__left {
  padding-right: 20px;
}

.form__section {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__icon {
  position: relative;
}

.form__icon::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 15px;
  left: 15px;
  bottom: 0;
}

.form__border {
  display: block;
  color: #030303;
  font-size: 18px;
  font-weight: 400;
  width: 190px;
  height: 45px;
  border: solid 1px #030303;
}

.form__item input[type="date"]::-webkit-calendar-picker-indicator,
.form__item input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.form__item input[type="date"] {
  background: url("./../assets/popup/arrow.svg") no-repeat 92% 50%;
  cursor: pointer;
}

.form__item-text input[type="text"] {
  background: url("./../assets/popup/arrow.svg") no-repeat 92% 50%;
  cursor: pointer;
}

.form__item input {
  padding: 12px 0 12px 43px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form__item select {
  padding: 12px 0 11px 43px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form__item input[type="time"] {
  background: url("./../assets/popup/arrow.svg") no-repeat 93% 50%;
  cursor: pointer;
}

.form__time input {
  padding: 12.6px 0 12.3px 40px;
}

.form__date::before {
  width: 15px;
  height: 15px;
  background: url("./../assets/popup/date.svg") center no-repeat;
}

.form__time::before {
  width: 15px;
  height: 15px;
  background: url("./../assets/popup/time.svg") center no-repeat;
}

.form__name input,
.form__email input,
.form__tel input,
.form__ticket select {
  width: 400px;
}

.form__name input:focus,
.form__email input:focus,
.form__tel input:focus,
.form__ticket select:focus,
.form__date input:focus,
.form__time input:focus {
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.25);
}

.form__item input::-webkit-input-placeholder {
  color: #000000;
}

.form__item input:-ms-input-placeholder {
  color: #000000;
}

.form__item input::-ms-input-placeholder {
  color: #000000;
}

.form__item input::placeholder {
  color: #000000;
}

.form__item input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__name::before {
  width: 13px;
  height: 15px;
  background: url("./../assets/popup/name.svg") center no-repeat;
}

.form__email::before {
  top: 17px;
  width: 15px;
  height: 11px;
  background: url("./../assets/popup/email.svg") center no-repeat;
}

.form__tel::before {
  top: 11px;
  width: 14px;
  height: 23px;
  background: url("./../assets/popup/tel.svg") center no-repeat;
}

.form__ticket select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("./../assets/popup/arrow.svg") no-repeat 96% 50%;
  margin-right: 0;
}

.form select.ticket option:hover {
  -webkit-box-shadow: 0 0 10px 100px #740c11 inset;
          box-shadow: 0 0 10px 100px #740c11 inset;
}

.form__ticket::before {
  top: 15.6px;
  width: 15px;
  height: 15px;
  background: url("./../assets/popup/ticket.svg") center no-repeat;
}

.form__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px #030303;
  max-width: 400px;
  padding: 10px 0;
}

.form__right {
  padding: 25px 30px 26px;
  border: 1px solid #030303;
}

.left__title {
  font-family: Forum;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #9d8665;
  padding-bottom: 13px;
}

.left__subtitle {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #710707;
  padding-bottom: 13px;
}

.left__subtitle:after {
  content: "";
  position: absolute;
  background: #740c11;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 2px;
}

.entry__title {
  position: relative;
  padding: 0px 0 5px 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-family: Forum;
  color: #9d8665;
}

.entry__title::before {
  position: absolute;
  content: "";
  background: #740c11;
  height: 1px;
  bottom: 0;
  width: 370px;
}

.entry__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 15px 18px;
}

.entry__senior {
  padding: 0 15px 0px;
}

.entry__text {
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  font-weight: 400;
}

.entry__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-top: -5px;
  margin-bottom: 2px;
  width: 111px;
  height: 28px;
  border: solid 1px #030303;
}

.entry__number .number {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 37px;
  text-align: center;
  margin-left: 10px;
  outline: none;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.entry__sign {
  background-color: #030303;
  width: 37px;
  height: 27px;
}

.entry__minus, .entry__plus {
  color: #ffffff;
  font-size: 20px;
}

.right__overview {
  max-width: 530px;
  padding: 0 0 18px;
}

.right__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 123px;
          column-gap: 123px;
}

.right__title {
  font-size: 32px;
  line-height: 37px;
  color: #272727;
  font-weight: 500;
  padding-bottom: 4px;
}

.right__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  opacity: 0.9;
  padding-bottom: 10px;
}

.right__day, .right__time, .right__ticket {
  color: #030303;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  padding-bottom: 6px;
  padding-left: 30px;
}

.right__day {
  background: url("./../assets//popup/date.svg") left top no-repeat;
}

.right__time {
  background: url("./../assets//popup/time.svg") left top no-repeat;
}

.right__ticket {
  background: url("./../assets//popup/ok.svg") left 2px no-repeat;
}

.right__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 26px;
}

.total__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 5px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #030303;
}

.total__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.total__senior {
  position: relative;
  padding-bottom: 10px;
}

.total__senior::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: #740c11;
  height: 2px;
  width: 100%;
}

.total__number {
  width: 32px;
  height: 20px;
  background-color: #030303;
  border-radius: 5px;
  color: #a4a4a3;
  text-align: center;
  padding: 1px 0;
  font-size: 18px;
  line-height: 21px;
}

.total__text {
  padding-left: 10px;
  line-height: 22px;
}

.total__total {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 32px;
  color: #030303;
  line-height: 37px;
  font-weight: 400;
}

.total__result {
  font-weight: 500;
}

.right__card {
  position: relative;
  height: 241px;
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__data {
  position: relative;
  border-radius: 3px;
  background: #bcbcbc;
  z-index: 10;
}

.card__cvc {
  position: absolute;
  border-radius: 3px;
  right: 0;
  top: 30px;
  z-index: 5;
  background: #939393;
}

.data__body {
  padding: 15px 20px;
}

.data__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data__cardnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
  color: #161615;
}

.data__input input {
  width: 215px;
  height: 35px;
  padding: 10px;
}

.data__input {
  padding-bottom: 10px;
}

.data__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data__inputs input {
  position: relative;
  width: 100px;
  height: 35px;
  padding: 10px 8px;
  margin: 0 15px 10px 0;
}

.data__cardholder input {
  height: 35px;
  width: 320px;
  padding: 10px;
}

.inputs__number {
  position: relative;
}

.inputs__number input[type="number"]::-webkit-inner-spin-button,
.inputs__number input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  width: 10px;
  opacity: 1;
}

.inputs__number::before {
  content: "";
  position: absolute;
  right: 15px;
  opacity: 0.8;
  width: 28px;
  height: 35px;
  pointer-events: none;
  z-index: 1;
  border-left: 0.5px solid #a4a4a3;
  background: url("./../assets/popup/up-arrow.svg") 11px 12px no-repeat, url("./../assets/popup/down-arrow.svg") 11px 19px no-repeat;
}

.logos__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 19px;
}

.logos__visa {
  padding-bottom: 15px;
}

.logos__visa:last-child {
  padding-bottom: 0;
}

.cvc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cvc__line {
  margin: 25px 0 15px 0;
  background-color: #161615;
  width: 360px;
  height: 45px;
}

.cvc__text {
  padding: 0 34px 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}

.cvc__input {
  width: 75px;
  height: 35px;
  padding: 10px;
  margin-right: 20px;
}

.cvc__description {
  max-width: 55px;
  margin: 8px 30px 20px 0;
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
}

.right__button button {
  display: block;
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 45px;
  background: #710707;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
}

.right__button button:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.right__button button:focus {
  outline: none;
}

.circle {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: pulse 0.7s ease-out;
          animation: pulse 0.7s ease-out;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
