input {
  font-family: inherit;
  /* 1 */
  font-size: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

.popup {
  padding-top: 10px;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__wrapper {
  position: relative;
}

.popup__overlay {
  position: fixed;
  content: "";
  height: 200vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  left: -120%;
  bottom: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.popup__close {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  left: 96.25%;
  top: 3.42%;
  width: 25px;
  height: 25px;
  background: url("./../assets/popup/Close.svg") no-repeat;
}

.popup__close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.popup._active {
  left: 0;
}

.form__body {
  position: relative;
  z-index: 10;
  padding-top: 90px;
  margin-bottom: 90px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__left {
  padding-right: 20px;
}

.form__section {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__icon {
  position: relative;
}

.form__icon::before {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 15px;
  left: 15px;
  bottom: 0;
}

.form__border {
  display: block;
  color: #030303;
  font-size: 18px;
  font-weight: 400;
  width: 190px;
  height: 45px;
  border: solid 1px #030303;
}

.form__item input[type="date"]::-webkit-calendar-picker-indicator,
.form__item input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.form__item input[type="date"] {
  background: url("./../assets/popup/arrow.svg") no-repeat 92% 50%;
  cursor: pointer;
}

.form__item-text input[type="text"] {
  background: url("./../assets/popup/arrow.svg") no-repeat 92% 50%;
  cursor: pointer;
}

.form__item input {
  padding: 12px 0 12px 43px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form__item select {
  padding: 12px 0 11px 43px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form__item input[type="time"] {
  background: url("./../assets/popup/arrow.svg") no-repeat 93% 50%;
  cursor: pointer;
}

.form__time input {
  padding: 12.6px 0 12.3px 40px;
}

.form__date::before {
  width: 15px;
  height: 15px;
  background: url("./../assets/popup/date.svg") center no-repeat;
}

.form__time::before {
  width: 15px;
  height: 15px;
  background: url("./../assets/popup/time.svg") center no-repeat;
}

.form__name input,
.form__email input,
.form__tel input,
.form__ticket select {
  width: 400px;
}

.form__name input:focus,
.form__email input:focus,
.form__tel input:focus,
.form__ticket select:focus,
.form__date input:focus,
.form__time input:focus {
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.25);
}

.form__item input::-webkit-input-placeholder {
  color: #000000;
}

.form__item input:-ms-input-placeholder {
  color: #000000;
}

.form__item input::-ms-input-placeholder {
  color: #000000;
}

.form__item input::placeholder {
  color: #000000;
}

.form__item input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__name::before {
  width: 13px;
  height: 15px;
  background: url("./../assets/popup/name.svg") center no-repeat;
}

.form__email::before {
  top: 17px;
  width: 15px;
  height: 11px;
  background: url("./../assets/popup/email.svg") center no-repeat;
}

.form__tel::before {
  top: 11px;
  width: 14px;
  height: 23px;
  background: url("./../assets/popup/tel.svg") center no-repeat;
}

.form__ticket select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("./../assets/popup/arrow.svg") no-repeat 96% 50%;
  margin-right: 0;
}

.form select.ticket option:hover {
  -webkit-box-shadow: 0 0 10px 100px #740c11 inset;
          box-shadow: 0 0 10px 100px #740c11 inset;
}

.form__ticket::before {
  top: 15.6px;
  width: 15px;
  height: 15px;
  background: url("./../assets/popup/ticket.svg") center no-repeat;
}

.form__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px #030303;
  max-width: 400px;
  padding: 10px 0;
}

.form__right {
  padding: 25px 30px 26px;
  border: 1px solid #030303;
}

.left__title {
  font-family: Forum;
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  color: #9d8665;
  padding-bottom: 13px;
}

.left__subtitle {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #710707;
  padding-bottom: 13px;
}

.left__subtitle:after {
  content: "";
  position: absolute;
  background: #740c11;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 2px;
}

.entry__title {
  position: relative;
  padding: 0px 0 5px 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  font-family: Forum;
  color: #9d8665;
}

.entry__title::before {
  position: absolute;
  content: "";
  background: #740c11;
  height: 1px;
  bottom: 0;
  width: 370px;
}

.entry__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 15px 18px;
}

.entry__senior {
  padding: 0 15px 0px;
}

.entry__text {
  font-size: 18px;
  line-height: 21px;
  color: #030303;
  font-weight: 400;
}

.entry__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-top: -5px;
  margin-bottom: 2px;
  width: 111px;
  height: 28px;
  border: solid 1px #030303;
}

.entry__number .number {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 37px;
  text-align: center;
  margin-left: 10px;
  outline: none;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.entry__sign {
  background-color: #030303;
  width: 37px;
  height: 27px;
}

.entry__minus, .entry__plus {
  color: #ffffff;
  font-size: 20px;
}

.right__overview {
  max-width: 530px;
  padding: 0 0 18px;
}

.right__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 123px;
          column-gap: 123px;
}

.right__title {
  font-size: 32px;
  line-height: 37px;
  color: #272727;
  font-weight: 500;
  padding-bottom: 4px;
}

.right__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740c11;
  opacity: 0.9;
  padding-bottom: 10px;
}

.right__day, .right__time, .right__ticket {
  color: #030303;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  padding-bottom: 6px;
  padding-left: 30px;
}

.right__day {
  background: url("./../assets//popup/date.svg") left top no-repeat;
}

.right__time {
  background: url("./../assets//popup/time.svg") left top no-repeat;
}

.right__ticket {
  background: url("./../assets//popup/ok.svg") left 2px no-repeat;
}

.right__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 26px;
}

.total__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 5px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #030303;
}

.total__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.total__senior {
  position: relative;
  padding-bottom: 10px;
}

.total__senior::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: #740c11;
  height: 2px;
  width: 100%;
}

.total__number {
  width: 32px;
  height: 20px;
  background-color: #030303;
  border-radius: 5px;
  color: #a4a4a3;
  text-align: center;
  padding: 1px 0;
  font-size: 18px;
  line-height: 21px;
}

.total__text {
  padding-left: 10px;
  line-height: 22px;
}

.total__total {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 32px;
  color: #030303;
  line-height: 37px;
  font-weight: 400;
}

.total__result {
  font-weight: 500;
}

.right__card {
  position: relative;
  height: 241px;
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__data {
  position: relative;
  border-radius: 3px;
  background: #bcbcbc;
  z-index: 10;
}

.card__cvc {
  position: absolute;
  border-radius: 3px;
  right: 0;
  top: 30px;
  z-index: 5;
  background: #939393;
}

.data__body {
  padding: 15px 20px;
}

.data__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data__cardnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
  color: #161615;
}

.data__input input {
  width: 215px;
  height: 35px;
  padding: 10px;
}

.data__input {
  padding-bottom: 10px;
}

.data__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data__inputs input {
  position: relative;
  width: 100px;
  height: 35px;
  padding: 10px 8px;
  margin: 0 15px 10px 0;
}

.data__cardholder input {
  height: 35px;
  width: 320px;
  padding: 10px;
}

.inputs__number {
  position: relative;
}

.inputs__number input[type="number"]::-webkit-inner-spin-button,
.inputs__number input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  width: 10px;
  opacity: 1;
}

.inputs__number::before {
  content: "";
  position: absolute;
  right: 15px;
  opacity: 0.8;
  width: 28px;
  height: 35px;
  pointer-events: none;
  z-index: 1;
  border-left: 0.5px solid #a4a4a3;
  background: url("./../assets/popup/up-arrow.svg") 11px 12px no-repeat, url("./../assets/popup/down-arrow.svg") 11px 19px no-repeat;
}

.logos__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 19px;
}

.logos__visa {
  padding-bottom: 15px;
}

.logos__visa:last-child {
  padding-bottom: 0;
}

.cvc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cvc__line {
  margin: 25px 0 15px 0;
  background-color: #161615;
  width: 360px;
  height: 45px;
}

.cvc__text {
  padding: 0 34px 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #161615;
}

.cvc__input {
  width: 75px;
  height: 35px;
  padding: 10px;
  margin-right: 20px;
}

.cvc__description {
  max-width: 55px;
  margin: 8px 30px 20px 0;
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
}

.right__button button {
  display: block;
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 45px;
  background: #710707;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
}

.right__button button:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.right__button button:focus {
  outline: none;
}

.circle {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: pulse 0.7s ease-out;
          animation: pulse 0.7s ease-out;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
